{% extends 'base.twig' %}
{% block content %}
<div class="page-container">

    <div class="page-header">
        {% if post.thumbnail.src %}
            <img class="banner" src=" {{ post.thumbnail.src }} " alt="{{ post.thumbnail.alt ? post.thumbnail.alt : post.title }}" />
        {% else %}
            <img class="banner" src="/wp-content/themes/grics/assets/images/GRICS_site_produits.jpeg" alt="{{ __("Main cliquant sur un téléphone portable", "Grics") }}" />
        {% endif %}
        <div class="container">
            <div class="page-header-content">
                {% if post.title %}
                    <h1>{{ post.title }}</h1>
                {% endif %}
                {% if post.post_excerpt %}
                    <p>{{ post.post_excerpt }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-presentation">
            <div class="gutenberg">
                {{ post.content }}
            </div>
        </div>
    </div>

    {% if post.meta('show_cta') %}
        <div class="container">
            {% include 'blocks/content-cta.twig' with { fields: {
                title: 'Vous êtes prêt à entreprendre votre démarche de sélection de gants de protection ?',
                button: { url: options.page_guide, title: 'Lancer l\'outil d\'aide à la sélection de gants' }
            } } %}
        </div>
    {% endif %}
</div>
{% endblock %}